{%extends 'base.html'%}

{%block body%}

<h2>Edit Radrennen</h2>

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <div class="mb-3">
        <label for="SponsorID" class="form-label">SponsorID</label>
        {{form.SponsorID(class_="form-control",readonly=True)}}
    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        {{form.Name(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Land" class="form-label">Land</label>
        {{form.Land(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Werbungsart" class="form-label">Werbungsart</label>
        {{form.Werbungsart(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Sponsorbetrag" class="form-label">Sponsorbetrag</label>
        {{form.Sponsorbetrag(class_="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}