{%extends 'base.html'%}

{%block body%}

<a href="/hauptsponsor/add" class="btn btn-info" role="button">Sponsor Hinzufügen</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">SponsorID</th>
      <th scope="col">Name</th>
      <th scope="col">Land</th>
      <th scope="col">Werbungsart</th>
      <th scope="col">Sponsorbetrag</th>
    </tr>
  </thead>
  <tbody>
    {% for sponsor in hauptsponsoren %}
      <tr>
        <td>{{sponsor.SponsorID}}</td>
        <td>{{sponsor.Name}}</td>
        <td>{{sponsor.Land}}</td>
        <td>{{sponsor.Werbungsart}}</td>
        <td>{{sponsor.Sponsorbetrag}}</td>
        <td>
          <a class="btn btn-outline-secondary" name="SponsorID" id="SponsorID" href="/hauptsponsor/edit?SponsorID={{sponsor.SponsorID}}">✏️</a>
          <form action="/hauptsponsor/delete" method="post" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="SponsorID" id="SponsorID" value="{{sponsor.SponsorID}}">
            <a class="btn btn-outline-secondary" href="#" onclick="deleteSponsor(this); return false;">🗑️</a>
          </form>
        </td>     
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    }

    .pagination a.active {
      background-color: dodgerblue;
      color: white;
    }

    .pagination a:hover:not(.active) {background-color: #ddd;}
  </style>
  <body>
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>

  </body>
</html>
-->
{%endblock%}