{%extends 'base.html'%}

{%block body%}

<a href="/sponsor/add" class="btn btn-info" role="button">Sponsor Hinzufügen</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Land</th>
      <th scope="col">Werbungsart</th>
      <th scope="col">Sponsorbetrag</th>
    </tr>
  </thead>
  <tbody>

    {% for sponsor in hauptsponsor %}
      <tr>
        <td>{{sponsor.Name}}</td>
        <td>{{sponsor.Land}}</td>
        <td>{{sponsor.Werbungsart}}</td>
        <td>{{sponsor.Sponsorbetrag}}</td>
        <td>
          <a class="btn btn-outline-secondary" href="/products/edit?productCode={{product.productCode}}">✏️</a>
          <form action="/products/delete" method="post" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="productCode" id="productCode" value="{{product.productCode}}">
            <a class="btn btn-outline-secondary" href="#" onclick="deleteProduct(this); return false;">🗑️</a>
          </form>
        </td>     
      </tr>
    {% endfor %}

    
  </tbody>
</table>

{%endblock%}