{%extends 'base.html'%}

{%block body%}

<h2>Edit Radrennen</h2>

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <div class="mb-3">
        <label for="RadrennenID" class="form-label">RadrennenID</label>
        {{form.RadrennenID(class_="form-control",readonly=True)}}
    </div>

    <div class="mb-3">
        <label for="Titel" class="form-label">Titel</label>
        {{form.Titel(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Land" class="form-label">Land</label>
        {{form.Land(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Datum" class="form-label">Datum</label>
        {{form.Datum(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="LaengeInKm" class="form-label">LaengeInKm</label>
        {{form.LaengeInKm(class_="form-control")}}
    </div>

    <button type="submit" class="btn_btn-primary">Submit</button>

    <style>
        .btn_btn-primary {
      background-color: #c2fbd7;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: green;
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-33:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
    }
    
    </style>
    
</form>

{%endblock%}