{%extends 'base.html'%}

{%block body%}

<a href="/radrennen/add" class="btn btn-info" role="button">Radrennen Hinzufügen</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Titel</th>
      <th scope="col">Land</th>
      <th scope="col">Datum</th>
      <th scope="col">Länge in Km</th>
    </tr>
  </thead>
  <tbody>
    {% for rennen in radrennen %}
      <tr>
        <td>{{rennen.Titel}}</td>
        <td>{{rennen.Land}}</td>
        <td>{{rennen.Datum}}</td>
        <td>{{rennen.LaengeInKM}}</td>
        <td><a class="btn btn-outline-secondary" href="/radrennen/edit?Name={{radrennen.RennenID}}">✏️</a>
          <form action="/radrennen/delete" method="post" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="RennenID" id="SportlerID" value="{{radrennen.RennenID}}">
            <a class="btn btn-outline-secondary" href="#" onclick="deleteRadrennen(this); return false;">🗑️</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}