{%extends 'base.html'%}

{%block body%}

<a href="/sportler/add" class="btn btn-info" role="button">Sportler Hinzufügen</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Land</th>
      <th scope="col">Radmarke</th>
    </tr>
  </thead>
  <tbody>

    {% for sportler in sportlers %}
      <tr>
        <td>{{sportler.Vorname}}</td>
        <td>{{sportler.Nachname}}</td>
        <td>{{sportler.Land}}</td>
        <td>{{sportler.Radmarke}}</td>
      </tr>
    {% endfor %}

  </tbody>
</table>

{%endblock%}