{%extends 'base.html'%}

{%block body%}

<form method="POST" action="/sportler/add">
    {{form.csrf_token}}

    <div class="mb-3">
        <label for="productCode" class="form-label">Vorname</label>
        {{form.Vorname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="productCode" class="form-label">Vorname</label>
        {{form.Nachname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="productCode" class="form-label">Land</label>
        {{form.Land(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="productCode" class="form-label">Radmarke</label>
        {{form.Radmarke(class_="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}