{%extends 'base.html'%}

{%block body%}

<a href="/sportler/add" class="btn btn-info ml-5" role="button">&#10010;</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">SportlerID</th>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Land</th>
      <th scope="col">Radmarke</th>
    </tr>
  </thead>
  <tbody>
    {% for sportler in sportlers %}
    <tr>
      <td>{{sportler.SportlerID}}</td>
      <td>{{sportler.Vorname}}</td>
      <td>{{sportler.Nachname}}</td>
      <td>{{sportler.Land}}</td>
      <td>{{sportler.Radmarke}}</td>
      <td>
        <a class="btn btn-outline-secondary" name="SportlerID" id="SportlerID" href="/sportler/edit?SportlerID={{sportler.SportlerID}}">✏️</a>
        <form action="/sportler/delete" method="post" style="display: inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="SportlerID" id="SportlerID" value="{{sportler.SportlerID}}">
          <a class="btn btn-outline-secondary" href="#" onclick="deleteSportler(this); return false;">🗑️</a>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}