{%extends 'base.html'%}

{%block body%}

<a href="/sponsor/add" class="btn btn-info" role="button">Sponor Hinzufügen</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Land</th>
      <th scope="col">Werbungsart</th>
      <th scope="col">Sponsorbetrag</th>
    </tr>
  </thead>
  <tbody>

    {% for sponor in hauptsponsor %}
      <tr>
        <td>{{sponsor.Name}}</td>
        <td>{{sponsor.Land}}</td>
        <td>{{sponsor.Werbungsart}}</td>
        <td>{{sponsor.Sponsorbetrag}}</td>
      </tr>
    {% endfor %}

    
  </tbody>
</table>

{%endblock%}